<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
      Welcome to Fauxbook, the fake social network <%= @user.first_name %>
    </h1>
    <p>
      You have successfully signed up to Fauxbook, the fake social network.
    </p>
    <p>
      Your login is your email: <%= @user.email %>
    </p>
    <p>
      To login in visit the site <%= @url %>
    </p>
    <p>
      Thank you for joining and enjoy the fauxness.
    </p>
  </body>
</html>
