<%= turbo_frame_tag comment do %>
  <li><%= comment.content %></li>
  <li>
    <%= link_to 'Edit Comment',
      edit_user_post_comment_path(comment.author, comment.post, comment)
    %>
    </li>
  <li>
    <%= link_to "Delete Comment",
      user_post_comment_path(comment.author, comment.post, comment),
      data: { turbo_method: :delete }
    %>
  </li>
  <br />
<% end %>


