 <li id="likes">
  <%#only works for the post like path, wasn't able to DRY comment partial likes %>
    <% if likeable.liking_users.include?(current_user) %>
      <%= link_to "Unlike", user_post_like_path(likeable.author, likeable, likeable.likes.where(user_id: current_user.id).take), data: { turbo_method: :delete } %>
    <% else %>
      <%= form_with url: user_post_likes_path(likeable.author, likeable),
        method: :post do |f| %>
        <%= f.submit 'Like' %>
      <% end %>
    <% end %>
</li>
<li><%= likeable.display_likes %></li>
