<ul>
  <%= turbo_frame_tag 'edit_post' do %>

    <li><%= post.title %></li>
    <li><%= post.content %></li>
    <li><%= link_to 'Edit Post', edit_user_post_path(post.author, post)  %></li>
  <% end %>
  <br />
</ul>
