/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*

ABOVE IS RESET

*/

* {
  --dark-brown: #5d5c61;
  --light-brown: #938e94;
  --light-blue: #7395ae;
  --med-blue: #547a95;
  --med-brown: #b0a295;

}

a {
  text-decoration: none;
}

.flash-message {
  color: red;
}


.post-box {
  outline: 1px solid blue;
}

.main-nav {
  border: 1px solid red;
}

input[type="text"] {
  width: min(15vw, 100%);
}

.comment-box {
  outline: 1px solid green;
  padding-left: 15px;
  border-left: 1px solid blue;
}

.profile-image-small>img {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.profile-image-med {
  border-radius: 50%;
  width: 50px;
  height: auto;
}

.profile-image-upload {
  width: 150px;
  height: auto;
}

.post-image {
  width: 300px;
  height: auto;
}

.comment-comments {
  outline: 1px solid pink;
}

/* .comment-replies {
  padding-left: 15px;
  border-left: 1px solid blue;
} */

.main-nav ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  justify-content: space-between;
}

.site-name {
  flex: 1;
  margin-left: 10px;
}

.main-nav ul li {
  margin-right: 10px;
  padding: 5px 0;
}

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: var(--med-blue);
}

.main-nav a {
  color: white;

}

nav.notification-nav {
  display: flex;
  align-items: center;
  background: #00A9D4;
  height: 60px;
  position: relative;
}

.notification-icon img {
  width: 30px;
  height: auto;
  filter: brightness(0) invert(1);
}
