.flash-message {
  color: red;
}


.post-box {
  outline: 1px solid blue;
}

input[type="text"] {
  width: min(15vw, 100%);
}

.comment-box {
  outline: 1px solid green;
}

.profile-image-small>img {
  border-radius: 50%;
  width: 30px;
  height: auto;
}

.profile-image-upload {
  width: 150px;
  height: auto;
}

.post-image {
  width: 300px;
  height: auto;
}

.comment-comments {
  outline: 1px solid pink;
}

.form-errors {
  background-color: rgb(216, 118, 118);
  font-weight: bold;
  color: rgb(102, 38, 38);
  width: fit-content;
  padding: 5px;
}
